python-dotenv>=1.0.0
Django==5.1.4
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
django-extensions==3.2.3
psycopg2-binary==2.9.11
boto3==1.36.19
openpyxl==3.1.5
qrcode[pil]==8.2
sqlparse==0.5.3
tzdata==2024.2
python-dateutil==2.9.0.post0
requests==2.32.3
PyYAML==6.0.2
urllib3==2.3.0
asgiref==3.8.1
celery==5.4.0
redis==5.2.1
gunicorn==23.0.0
