{% load i18n %}
<select class="form-select filters-fields" aria-label="{% translate "Course Filter" %}" name="course" hx-select="#content" hx-get="{{ url }}" hx-trigger="change" hx-target="#display-page" hx-push-url="true" hx-swap="innerHTML">
    <option value="">{% translate "All Courses" %}</option>
    {% for course in subjects %}
            {% if course_value == course.value %}
                <option value="{{ course.value }}" selected>{{ course.label }}</option>
            {% else %}
                <option value="{{ course.value }}">{{ course.label }}</option>
            {% endif %}
    {% endfor %}
</select>
