{% extends 'base.html' %}


{% block cdn %}
    <link href="https://vjs.zencdn.net/7.0.0/video-js.css" rel="stylesheet" />
        <!-- City -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">

    <!-- Fantasy -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">

    <!-- Forest -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">

    <!-- Sea -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
{% endblock %}

{% block style %}
    <style>
        body { 
            background-color: #f8f9fa !important;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5 vh-50">
        <div class="row justify-content-center">
            <div id="display-page" class="col-12 col-md-8 order-2 order-md-1 me-2 bg-white">
                &nbsp;
                {% block content %}
                {% endblock %}
            </div>
            <div class="list-group list-group-flush col-10 col-md-3 order-1 order-md-2 text-center m-auto mt-0">
                <div class="lectures-nav border rounded bg-white p-0 mb-3" role="tablist">
                    {% for lesson in lessons %}
                        <a class="list-group-item list-group-item-action pointer" hx-select="#content-loaded" data-bs-toggle="list" hx-get="{% url 'lesson-details' course_id=lesson.course.id lesson_id=lesson.id %}" hx-trigger="click" hx-target="#display-page" hx-swap="innerHTML" role="tab">{{ lesson.name }}</a>
                    {% endfor %}
                </div>

                <div class="lectures-nav border rounded bg-white p-0 mb-3" role="tablist">
                    {% for quiz in quizzes %}
                        <a class="list-group-item list-group-item-action pointer" href="{% url 'quiz-details' quiz.course.id quiz.id %}">{{ quiz.name }}</a>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".list-group-item-action").forEach(element => {
                element.addEventListener("click", (event) => {
                    console.log(document.querySelector(".list-group-item-action.active"))
                    document.querySelector(".list-group-item-action.active").classList.remove("active")
                    event.target.classList.add("active")
                })
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://vjs.zencdn.net/7.0.0/video.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons@3.0.1/dist/videojs-seek-buttons.min.js"></script>

{% endblock %}