{% load i18n %}
<div class="position-relative d-flex align-items-center">
    <input class="form-control filters-fields pe-4" type="search" placeholder="{% translate 'Search' %}" name="name" value="{{ name_value }}" hx-push-url="true" aria-label="{% translate 'Search' %}" hx-get="{{ url }}?{% if request.GET.sort %}sort={{ request.GET.sort }}&order={{ request.GET.order }}{% endif %}" hx-include=".filters-fields" hx-trigger="keyup changed delay:500ms, search" hx-target="#table-container" hx-swap="innerHTML" hx-indicator="#search-spinner">
    <span id="search-spinner" class="htmx-indicator position-absolute end-0 me-2">
        <div class="spinner-border spinner-border-sm text-primary" role="status">
            <span class="visually-hidden">...</span>
        </div>
    </span>
</div>
