<div class="questions-container">
    {% for question in questions %}
        {% with counter=forloop.counter0 %}
            <div class="question w-100 mt-3 mb-3 position-relative bg-light p-4">
                <input type="hidden" name="questions[{{ counter }}][id]" value="{{ question.id }}">

                {% if mode == "edit" and not is_student %}
                    <button class="btn btn-danger delete-question">حذف</button>
                    <select name="questions[{{ counter }}][type]" class="form-select w-50 mb-4 question-type">
                        {% for type in question_types %}
                            {% if question.type == type.0 %}
                                <option value="{{ type.0 }}" selected>{{ type.1 }}</option>
                            {% else %}
                                <option value="{{ type.0 }}">{{ type.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> 
                    <div class="group d-flex mb-4 row">
                        <div class="question-title col-12 col-md-8">
                            <label>السوال</label>
                            <input type="text" value="{{ question.name }}" required class="form-control" name="questions[{{ counter }}][name]" placeholder="السوال..؟">
                        </div>
                        <div class="points form-group col-4 col-md-4">
                            <label >الدرجه</label>
                            <input type="number" name="questions[{{ counter }}][grade]" id="grade" class="form-control" required value="{{ question.grade }}">
                        </div>
                    </div>
                {% else %}
                    <div class="group d-flex mb-4 row">
                        <div class="question-title col-12 col-md-8">
                            <label>السوال</label>
                            <input type="text" value="{{ question.name }}" class="form-control" disabled readonly>
                        </div>
                        <div class="points form-group col-4 col-md-4">
                            <label >الدرجه</label>
                            <input type="text" class="form-control" disabled readonly 
                            {% if question.is_graded %}
                            value='{{ question.current_grade }}/{{ question.grade }}'
                            {% elif mode != "view" %}
                            value='{{ question.grade }}'
                            {% endif %}
                        >
                        
                        </div>
                    </div>
                {% endif %}


                {% if question.type == "mcq" %}
                    {% for choice in question.choices %}
                        {% if not is_student and mode == "edit" %}
                            <div class="form-group answers w-75 d-flex align-items-center mb-4">
                                <input class="form-control" type="text" name="questions[{{ counter }}][choices]" value="{{ choice }}">
                                <i class="fa-solid fa-xmark me-3 pointer-mouse" style="color:red;"></i>
                            </div>
                        {% else %}
                                <div class="form-group answers w-75 d-flex align-items-center mb-4">
                                    <input class="form-check-input me-2" type="radio" name="questions[{{ counter }}][answer]" id="questions[{{ counter }}][{{ forloop.counter0 }}]" value="{{ choice }}" 
                                        
                                        {% if mode == "view" %}
                                            {% if choice == question.submitted_answer %}
                                                checked
                                            {% endif %}
                                            disabled readonly
                                        {% endif %}
                                    >
                                    <label class="form-check-label" for="questions[{{ counter }}][{{ forloop.counter0 }}]">{{ choice }}</label>
                                </div>
                        {% endif %}
                    {% endfor %}

                    {% if not is_student and mode == "edit" %}
                        <div class="form-group answers mb-4">
                            <input class="mt-2 mb-2 form-control w-50 mcq" type="text" placeholder="اختيار اخر...">
                        </div>
                    {% endif %}

                {% elif question.type == "complete" %}
                    <div class="form-group answers mb-4">
                        {% if not is_student and mode == "edit" %}
                            <input class="form-control" type="text">
                        {% else %}
                            <input class="form-control" type="text" name="questions[{{ counter }}][answer]"  
                            {% if mode == "view" %}
                                value="{{ question.submitted_answer }}"
                                disabled readonly
                            {% endif %}>
                        {% endif %}
                    </div>
                {% elif question.type == "written" %}
                    <div class="form-group answers mb-4">
                        {% if not is_student and mode == "edit" %}
                            <textarea class="form-control" rows="3"></textarea>
                        {% else %}
                            <textarea class="form-control" rows="3" name="questions[{{ counter }}][answer]" 
                            {% if mode == "view" %}
                                disabled readonly
                            {% endif %}
                        >{{ question.submitted_answer }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}

                {% if not is_student or exam_taken  %}
                    {% if question.auto_grade or mode == "edit" and question.type != "written" %}
                        <div class="form-group correct-answer mb-4">
                            <label class="form-label" for="answer_{{ counter }}">الاجابه الصحيحه:</label>
                            <input class="form-control w-50" id="answer_{{ counter }}"  
                            {% if mode != "exam" %}
                                value="{{ question.correct_answer }}"
                                {% if mode == "edit" %}
                                    name="questions[{{ counter }}][answer]"
                                {% endif %}
                                {% if mode == "view" %}
                                    disabled readonly
                                {% endif %}

                            {% endif %}

                            >
                        </div>
                    
                    {% elif mode == 'view' %}
                        {% if not is_student %}
                            <div class="form-group correct-answer mb-4">
                                <label class="form-label" for="manual_grade_{{ counter }}">اعطي الدرجه السوال</label>
                                <input class="form-control w-50" id="manual_grade_{{ counter }}" name="questions[{{ counter }}][manual_grade]" type="number" max="{{ question.grade }}" value="{{ question.current_grade }}">
                            </div>
                        {% else %}
                            <div class="form-group correct-answer mb-4">
                                <label class="form-label">حاله السوال : </label>
                                <input class="form-control w-50" name="questions[{{ counter }}][manual_grade]" 
                                {% if question.is_graded %} 
                                value="تم تصحيح السوال"
                                {% else %}
                                value="يتم مراجعه السوال"
                                {% endif %}
                                disabled readonly>
                            </div>
                        {% endif %}
        
                    {% endif %}
                {% endif %}
            </div>
        {% endwith %}
    {% endfor %}
</div>
